<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('admin-title')"/>
		<admin-list getUrl="ideas/admin/ideas-meta" delUrl="ideas/admin/ideas/"/>
  	</div>
</template>

<script>
import PageTitle from 'Main/components/PageTitle.vue';
import AdminList from 'Main/components/AdminList.vue';

export default {
	name: 'ideas-admin',
	components: { PageTitle, AdminList},
}
</script>





<i18n src="../locales/Admin.json"/>