<template>
	<div>
		<page-title :title="ideas.title" :subtitle="$t('settings-text')"/>
		<div class="container mt-3">
			<warning-list v-if="warnings" v-on:close="warnings=''" :warnings="warnings"/>
			<div class="card mb-4">
				<div class="card-header bg-var text-white">{{$t('settings-basic')}}</div>
				<div class="card-body">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">{{$t('title-label')}}</label>
						<input class="col-md-9 form-control" v-model="ideas.title" :placeholder="$t('collection-title-hint')"
							:class="{'is-invalid':!$v(ideas.title,true,$consts.REGEX_TEXT_100)}">
						<label class="col-md-3 col-form-label">{{$t('description')}}</label>
						<textarea class="col-md-9 form-control" v-model="ideas.desc" :placeholder="$t('collection-desc-hint')"
							:class="{'is-invalid':!$v(ideas.desc,true,$consts.REGEX_TEXT_AREA_500)}"/>
						<label class="col-md-3 col-form-label">{{$t('ticket')}}</label>
						<input class="col-md-6 form-control" v-model="ideas.ticket" :placeholder="$t('collection-ticket-hint')"
							:class="{'is-invalid':!$v(ideas.ticket,true,$consts.REGEX_TICKET)}">
						<button class="btn col-md-3 btn-secondary" style="height:2.4rem" v-on:click="generateTicket()">{{$t('generate')}}</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-header bg-var text-white">{{$t('participants-rights-contents')}}</div>
						<div class="card-body">
							<div class="form-check">
								<input class="form-check-input" id="check-addContent" type="checkbox" v-model="ideas.addContent">
								<label class="form-check-label" for="check-addContent">{{$t('add')}}</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="check-editContent" type="checkbox" v-model="ideas.editContent">
								<label class="form-check-label" for="check-editContent">{{$t('change')}}</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="check-delContent" type="checkbox" v-model="ideas.delContent">
								<label class="form-check-label" for="check-delContent">{{$t('delete')}}</label>
							</div>
							<div class="mt-3">
								<span>{{$t('hint-rights-contents')}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-header bg-var text-white">{{$t('participants-rights-cards')}}</div>
						<div class="card-body">
							<div class="form-check">
								<input class="form-check-input" id="check-addCard" type="checkbox" v-model="ideas.addCard">
								<label class="form-check-label" for="check-addCard">{{$t('add')}}</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="check-editCard" type="checkbox" v-model="ideas.editCard">
								<label class="form-check-label" for="check-editCard">{{$t('change')}}</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="check-delCard" type="checkbox" v-model="ideas.delCard">
								<label class="form-check-label" for="check-delCard">{{$t('delete')}}</label>
							</div>
							<div class="mt-3">
								<span>{{$t('hint-rights-cards')}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4">
					<div class="card">
						<div class="card-header bg-var text-white">{{$t('more-settings')}}</div>
						<div class="card-body">
							<div class="form-check">
								<input class="form-check-input" id="check-upload" type="checkbox" v-model="ideas.upload">
								<label class="form-check-label" for="check-upload">{{$t('support-upload')}}</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" id="check-slideshow" type="checkbox" v-model="ideas.slideshow">
								<label class="form-check-label" for="check-slideshow">{{$t('support-slideshow')}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mb-4" v-show="infoMailApps">
					<div class="card">
						<div class="card-header bg-var text-white">{{$t('info-on-changes')}}</div>
						<div class="card-body">
							<div class="form-check">
								<input class="form-check-input" id="check-info" type="checkbox" v-model="ideas.info">
								<label class="form-check-label" for="check-info">{{$t('info-to-author')}}</label>
							</div>
							<div class="mt-3">
								<span>{{$t('hint-info-mail')}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary mr-1" v-on:click="save()">{{$t('save')}}</button>
			<button class="btn btn-secondary" v-on:click="$router.push({name:'ideas-index'});">{{$t('cancel')}}</button>
		</div>

		<!-- modal error-->
		<modal-info v-if="modalErrorText" v-on:close="modalErrorText=''">
			<p>{{modalErrorText}}</p>
		</modal-info>
	</div>
</template>
<script>
import PageTitle from "Main/components/PageTitle.vue";
import ModalInfo from 'Main/components/ModalInfo.vue';
import WarningList from "Main/components/WarningList.vue";
import generator from 'Main/js/password-generator'
import config from "../config.js";
import color from "Main/js/color.js";

export default {
	components: {PageTitle, WarningList, ModalInfo},
	data: function() {
		return {
			id:'',
			ideas: {},
			warnings:[],
			config:config,
			modalErrorText:'',
			infoMailApps:false
		}
	},
	created: function() {
		var id=this.$route.params['id'];
		if (id) {
			this.id=id;
			this.$axios.get('ideas/ideas-meta/'+id).then(response=> {
				if (!response.data.title) return this.$router.push({name:'ideas-index'});
				this.ideas=response.data;
			})
		}
		else {
			this.ideas={ticket:'',title:'',desc:'',addContent:true,editContent:true,addCard:true}
		}
	},
	mounted: function() {
		color.setBgVar();
		this.$axios.get('main/info-mail-apps').then(response=> { this.infoMailApps=response.data.infoMailApps } );
	},
	methods: {
		generateTicket: function() {
			this.ideas.ticket=generator.generate({length:8, numbers: true});
		},
		save: function() {
			//check for validation errors
			this.validationErrors=document.getElementsByClassName('is-invalid').length;
			if (this.validationErrors>0) {
				this.modalErrorText=this.$t('validation-errors',{num:this.validationErrors});
				return;
			}
			//update existing set
			if (this.id) {
				this.$axios.put('ideas/ideas-meta/'+this.id, this.ideas).then(response=> {
					if (response.data[0]) this.warnings=response.data;
					else this.$router.push({name:'ideas-index'});
				})
			}
			//create new set
			else {
				this.$axios.post('ideas/ideas-meta', this.ideas).then(response=> {
					if (response.data[0]) this.warnings=response.data;
					else this.$router.push({name:'ideas-index'});
				})
			}
		},
	}
}
</script>

<i18n src="../locales/Edit.json"/>

