<template>
	<section>
		<!-- login screen -->
		<div class="container text-center">
			<img class="my-2 loginIcon" src="../img/ideas.svg">
			<p class="lead my-2">{{$t('input-ticket')}}</p>
			<div class="form-signin">
                <form v-on:submit="openTicket(); return false;">
				<warning-list v-if="warnings" :warnings="warnings" v-on:close="warnings=''"/>
				<input class="mt-2 form-control" :placeholder="$t('ticket')" v-model='ticket'
					:class="{'is-invalid':!$v(ticket,true,$consts.REGEX_TICKET)}"/>
				<button class="mb-4 btn btn-primary form-control" v-on:click="openTicket()">{{$t('next')}}</button>
                </form>
				<p class="my-3">{{$t('author-hint')}}</p>
			</div>
		</div>
	</section>
</template>

<script>
import WarningList from 'Main/components/WarningList.vue';
import PageTitle from 'Main/components/PageTitle.vue';
import TooltipIcon from 'Main/components/TooltipIcon.vue';

import config from "../config.js";

export default {
	components: {WarningList, PageTitle, TooltipIcon},
	data: function() {
		return {
			config: config,
			ticket: '',
			warnings: ''
		}
	},
    mounted: function() {
        if (this.$route.params.warnings) {
            this.warnings = this.$route.params.warnings;
        }
    },
	methods: {
		openTicket: function() {
            // we need to check if the ticket exist.
            this.$axios.head('ideas/part/ideas/'+this.ticket).then(response=> {
                // Redirect
                this.warnings='';
                this.$router.push({name:'ideas-part',params:{ticket:this.ticket}});
			}).catch(error => {
                if (error.response) {
                    if (error.response.data[0]) {
                        this.warnings = error.response.data;
                    } else if (error.response.status == 404) {
                        this.warnings = [{msg:'ticket-invalid'}];
                    } else {
                        this.warnings = [{msg:'unknown-error'}];
                    }
                } else {
                    this.warnings = [{msg:'unknown-error'}];
                }
            })
		}
    }
}
</script>

<style>
	span.a {text-decoration: underline}
	img.typeIcon { height:1.1em; margin-top: 3px; margin-right: 6px; float: left; }
</style>

<style src="Main/css/signin.css"/>


<i18n src="../locales/Login.json"/>