<template>
	<section>
		<!-- help and privacy -->
		<div v-if="showHelp">
			<page-title :title="ideas.title" :subtitle="$t('help')" :button="$t('close')" v-on:click="showHelp=false"/>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-dark text-white">{{$t('manual')}}</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/plus-primary.svg"><span>{{$t('help-add-card')}}</span></li>
								<li class="list-group-item" v-if="isOwner && ticket"><img class="smallIcon mr-1" src="~Main/img/share-primary.svg"
								><span>{{$t('help-share-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/edit.svg"><span>{{$t('help-edit-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/delete.svg"><span>{{$t('help-delete-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/add.svg"><span>{{$t('help-add-content')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/lock.svg"><span>{{$t('help-locked')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/hidden.svg"><span>{{$t('help-hidden')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="~Main/img/start.svg"><span>{{$t('help-slideshow')}}</span></li>
								<li class="list-group-item">{{$t('help-preview')}}</li>
								<li class="list-group-item">{{$t('help-edit')}}</li>
								<li class="list-group-item">{{$t('help-move')}}</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-dark text-white">{{$t('privacy')}}</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">{{$t('privacy-hint1')}}</li>
								<li class="list-group-item">{{$t('privacy-hint2')}}</li>
								<li class="list-group-item">{{$t('privacy-hint3')}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- cards screen -->
		<div v-else>
			<page-title :title="ideas.title" :subtitle="escapeText(ideas.desc)" :button="$t('help')" v-on:click="showHelp=true"/>
			<div v-if="!online" class="container my-5">
				<wait-icon :msg="$t('wait-connecting')"/>
			</div>
			<div v-if="online" class="container mt-3">
				<div v-if="loading" class="alert alert-warning">{{$t('wait-loading')}}</div>
				<warning-list v-if="warnings" :warnings="warnings"/>
			</div>
			<div :class="{'container':ideas.cards.length<=2, 'container-fluid':ideas.cards.length>2 }">
				<div class="mt-3" :class="{'card-deck':ideas.cards.length==2, 'card-columns': ideas.cards.length>2 }" >
					<div class="card card-shadow" v-for="card of ideas.cards" :key="card._id" v-show="!card.hidden || isOwner">
						<!--header-->
						<div class="card-header text-white" :style="'padding:0.5rem 1rem; background-color:'+card.color" v-on:drop.stop.prevent="drop(card,0)" 
							v-on:dragover.prevent>
							<img class="invert" v-if="card.locked" src="~Main/img/lock.svg" height="22px" style="margin-right:-3px;margin-left:-3px">
							<img class="invert" v-if="card.hidden" src="~Main/img/hidden.svg" height="22px" style="margin-right:-3px;margin-left:-3px">
							<span v-html="escapeText(card.title)"/>
						</div>
						<!--Content-->
						<div class="card-body p-0"  v-if="card.contents.length>0" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<div v-for="(content,pos) of card.contents" :key="pos">
								<div v-if="content" :id="content._id" class="px-3 pt-1"
									:draggable="isAllowedTo('delContent',card) && (!card.locked || isOwner)"
									v-on:dragstart="dragStart(card,content)" v-on:drop.stop.prevent="drop(card,pos)" v-on:dragover.prevent>
									<!--Simple text-->
									<span style="-webkit-user-select:all; -user-select: all; -ms-user-select:all; -moz-user-select:all;" 
										v-if="content.type=='text'" :class="{'cursor-pointer': isAllowedTo('editContent',card) || isAllowedTo('delContent',card)}" 
										v-html="escapeText(content.text)" v-on:click="contentAction(card,content)"/>
									<!--Image Link / Upload-->
									<div v-if="content.type.match(/a|upload/) && content.url.match($consts.REGEX_IMAGE)" >
										<span :class="{'a':content.type=='a', 'cursor-pointer':true}" v-on:click="contentAction(card,content)" 
											v-html="escapeText(content.text)"/>
										<figure class="my-1" v-on:click="contentAction(card,content)" style="width:100%;text-align:center">
											<img class="cursor-pointer" :src="getContentUrl(content)" style="max-width:100%;max-height:10rem">
										</figure>
									</div>
									<!--Audio Link / Upload -->
									<div v-else-if="content.type.match(/a|upload/) && content.url.match($consts.REGEX_AUDIO)">
										<span :class="{'a':content.type=='a', 'cursor-pointer':true}" v-on:click="contentAction(card,content)" 
											v-html="escapeText(content.text)"/>
										<audio class="my-1" controls style="width:100%"><source :src="getContentUrl(content)"></audio>
									</div>
									<!--Video Link / Upload-->
									<div v-else-if="content.type.match(/a|upload/) && content.url.match($consts.REGEX_VIDEO)">
										<span :class="{'a':content.type=='a', 'cursor-pointer':true}" v-on:click="contentAction(card,content)" 
											v-html="escapeText(content.text)"/>
										<center>
											<video style="my-1 max-height:10rem;max-width:100%" controls v-on:click="contentAction(card,content)"><source 
												:src="getContentUrl(content)"></video>
										</center>
									</div>
									<!--Normal Link-->
									<span class="a cursor-pointer" v-else-if="content.type.match(/a|upload/)" v-on:click="contentAction(card,content)">
										 <img class="typeIcon" v-if="/\.(txt|doc|docx|odt|tex|cho)/i.test(content.url)" src="~Main/img/type-text.svg">
										 <img class="typeIcon" v-else-if="/\.(xls|csv|xlsx|ods)/i.test(content.url)" src="~Main/img/type-calc.svg">
										 <img class="typeIcon" v-else-if="/\.(ppt|pptx|odp|odg)/i.test(content.url)" src="~Main/img/type-slides.svg">
										 <img class="typeIcon" v-else-if="/\.(pdf)/i.test(content.url)" src="~Main/img/type-pdf.svg">
										 <img class="typeIcon" v-else-if="/\.(ggb)/i.test(content.url)" src="~Main/img/type-geogebra.svg">
										 <img class="typeIcon" v-else-if="/\.(zip|tar|tgz|gz)/i.test(content.url)" src="~Main/img/type-zip.svg">
										 <img class="typeIcon" v-else-if="/\.(js|css|json)/i.test(content.url)" src="~Main/img/type-code.svg">
										 <img class="typeIcon" v-else src="~Main/img/type-web.svg">
										 <span style="-webkit-user-select:all; -user-select: all; -ms-user-select:all; -moz-user-select:all;" v-html="escapeText(content.text)"/>
									 </span>
									<!--Uploaded Image with base64 encoding - legacy-->
									<div v-if="content.type=='img'" style="width:100%;text-align:center">
										<figure v-on:click="contentAction(card,content)">
											<figcaption style="width:100%;text-align:left">{{escapeText(content.text)}}</figcaption>
											<img class='mb-1 center cursor-pointer' :src="getContentUrl(content)"  style="max-width:100%;max-height:10rem">
										</figure>
									</div>
								</div>
								<hr class="p-0 m-0">
							</div>
						</div>
						<!--Empty Content-->
						<div v-else class="card-body" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<p v-if="isAllowedTo('addContent',card) && isAllowedTo('delContent',card)" class="text-secondary" >{{$t('info-add-content-or-drag')}}</p>
							<p v-else-if="isAllowedTo('addContent',card)" class="text-secondary">{{$t('info-add-content')}}</p>
						</div>
						<!--Footer -->
						<div class="text-right card-footer" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<tooltip-icon v-if="isAllowedTo('addContent',card)" :tip="$t('add-content')" 
								v-on:click="addContent(card)" src="~Main/img/add.svg"/>
							<tooltip-icon v-if="ideas.slideshow && card.contents.length>0" :tip="$t('slideshow')" 
								v-on:click="startslideshow(card)" src="~Main/img/start.svg"/>
							<tooltip-icon v-if="isAllowedTo('editCard',card)" :tip="$t('edit-card')" 
								v-on:click="editCardMeta(card)" src="~Main/img/edit.svg"/>
							<tooltip-icon v-if="isAllowedTo('delCard',card)" :tip="$t('delete-card')" 
								v-on:click="editCard=card;showModalConfirmDelete=true" src="~Main/img/delete.svg"/>
						</div>
					</div>
				</div>
				<p class="text-right">
					<tooltip-icon v-if="!online" :tip="$t('update-view')" size="big" src="~Main/img/update-primary.svg" v-on:click="loadIdeas()"/>
					<tooltip-icon v-if="isAllowedTo('addCard',null)" :tip="$t('add-card')" size="big" src="~Main/img/plus-primary.svg" v-on:click="addCard()"/>
					<tooltip-icon v-if="isOwner && ticket" :tip="$t('share')" size="big" src="~Main/img/share-primary.svg" v-on:click="share()"/>
				</p>
			</div>
		</div>

		<!-- Modal dialog on content click-->
		<modal-info v-if="showModalAction" v-on:close="showModalAction=false">
			<template v-slot:header>{{$t('choose-action')}}</template>
			<warning-list v-if="dialogError" :warnings="dialogError"/>
			<p>{{$t('modal-action-text')}}</p>
			<div class="text-center">
				<tooltip-icon :tip="$t('show')" v-if="editContent.type=='a' || editContent.type=='upload'" size="medium" src="~Main/img/start.svg" 
					v-on:click="openLink(getContentUrl(editContent))"/>
				<tooltip-icon :tip="$t('edit')" v-if="isAllowedTo('editContent',editCard)" size="medium" src="~Main/img/edit.svg" 
					v-on:click="showModalAction=false;showModalEdit=true;"/>
				<tooltip-icon :tip="$t('drag')" v-if="getMoveTargets(editCard).length>0" size="medium" src="~Main/img/drag.svg" 
						v-on:click="showModalAction=false; showModalDrag=true;"/>
				<tooltip-icon :tip="$t('delete')" v-if="isAllowedTo('delContent',editCard)" size="medium" v-on:click="delContent()" src="~Main/img/delete.svg"/>

			</div>
		</modal-info>

		<!-- Modal edit content dialog-->
		<modal-dialog v-if="showModalEdit" v-on:close="showModalEdit=false">
			<template v-slot:header>{{$t('edit')}}</template>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">{{$t('select-type')}}</span>
				</div>
				<select class="form-control" v-model="editContent.type" v-on:change="editContent.url=''; dialogError=false">
					<option value="text">{{$t('text-input')}}</option>
					<option value="a">{{$t('link')}}</option>
					<option v-if="isAllowedTo('upload',editCard)" value="upload">{{$t('file')}}</option>
				</select>
			</div>
			<div class="input-group mt-1">
				<div class="input-group-prepend bg-white">
					<emoji-select class="input-group-text p0" v-on:select="insertEmoji"/>
				</div>
				<textarea class="form-control" v-model="editContent.text"  rows="2" :placeholder="$t('hint-text-input')"/>
			</div>
			<div v-if="editContent.type=='a'" class="mt-1">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">{{$t('enter-url')}}</span>
					</div>
					<input class="form-control" v-model="editContent.url" :class="{'is-invalid':!isValidHttpUrl(editContent.url)}">
				</div>
			</div>
			<div v-if="editContent.type=='upload'" class="mt-2">
				<div>
					<p>{{$t('upload-info',{size:Math.round(config.uploadMaxSize/(1024*1024))})}}</p>
					<file-upload :maxsize="config.uploadMaxSize" :imgmaxsize="config.imageMaxSize" v-on:upload="uploadFile"/>
				</div>
			</div>
			<wait-icon v-if="savingContent"/>
			<warning-list class="mt-2" v-if="dialogError" :warnings="dialogError"/>
			<template v-slot:footer>
				<button class="btn btn-secondary" v-on:click="showModalEdit=false">{{$t('cancel')}}</button>
				<button v-if="editContent.url!==null || file_set==true || (editContent.type=='text' || editContent.url )"
				class="btn btn-primary mr-1" v-on:click="saveContent()">{{$t('save')}}</button>
			</template>
		</modal-dialog>

		<!-- Modal edit card dialog-->
		<modal-dialog v-if="showModalEditCard" v-on:close="showModalEditCard=false" v-on:accept="saveCard()">
			<template v-slot:header>{{$t('edit-card')}}</template>
			<warning-list v-if="dialogError" :warnings="dialogError"/>
			<div class="input-group">
				<div class="input-group-prepend">
					<emoji-select class="input-group-text p0" v-on:select="insertEmoji"/>
				</div>
				<textarea class="form-control" v-model="editCard.title" rows=2 :placeholder="$t('hint-card-title')"
				:class="{'is-invalid':!$v(editCard.title,true,$consts.REGEX_TEXT_AREA_300)}"/>
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('sorting')}}</div>
				</div>
				<input class="form-control" type="number" v-model="editCard.sort">
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('color')}}</div>
				</div>
				<input class="form-control" type="color" style="height:2.5em" :placeholder="$t('color')" v-model="editCard.color">
			</div>
			<div class="input-group" v-if="isOwner">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('access')}}</div>
				</div>
				<div class="form-check form-control pl-5">
					<input class="form-check-input" id="check-lock" type="checkbox" v-model="editCard.locked">
					<label class="form-check-label" for="check-lock">{{$t('lock-card')}}</label>
				</div>
				<div class="form-check form-control pl-5">
					<input class="form-check-input" id="check-hidden" type="checkbox" v-model="editCard.hidden">
					<label class="form-check-label" for="check-hidden">{{$t('hide-card')}}</label>
				</div>
			</div>
		</modal-dialog>

		<!-- move entry to different card-->
		<modal-info v-if="showModalDrag" v-on:close="showModalDrag=false">
			<center>
				<button class="btn btn-default mr-1" v-for="target of getMoveTargets(editCard)" :key="target._id"
						:style="'color:white;background-color:'+target.color" 
					v-on:click="moveContent(editCard,editContent,target,0);showModalDrag=false">
					{{target.title}}
				</button>
			</center>
		</modal-info>

		<!-- confirm dialog-->
		<modal-confirm v-if="showModalConfirmDelete" v-on:close="showModalConfirmDelete=false" v-on:accept="delCard()">
			<p>{{$t('confirm-delete-card')}}</p>
		</modal-confirm>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :url="shareUrl"/>
	</section>
</template>

<script>
import ModalInfo from 'Main/components/ModalInfo.vue';
import ModalConfirm from 'Main/components/ModalConfirm.vue';
import FileUpload from 'Main/components/FileUpload.vue';
import ModalDialog from 'Main/components/ModalDialog.vue';
import ModalShare from 'Main/components/ModalShare.vue';
import WarningList from 'Main/components/WarningList.vue';
import PageTitle from 'Main/components/PageTitle.vue';
import TooltipIcon from 'Main/components/TooltipIcon.vue';
import WaitIcon from 'Main/components/WaitIcon.vue';
import EmojiSelect from 'Main/components/EmojiSelect.vue';

import config from "../config.js";
import store from "Main/js/store.js";
import color from "Main/js/color.js";
import md from "Main/js/markdown.js";

export default {
	components: {ModalInfo, ModalDialog, ModalShare, ModalConfirm, WarningList, PageTitle, TooltipIcon, WaitIcon, EmojiSelect,  FileUpload},
	data: function() {
		return {
			config:config,
			ticket:'',
			ideas: {title:'', cards: []},
			showHelp: false,
			showModalAction:false,
			showModalEdit:false,
			showModalEditCard:false,
			showModalConfirmDelete:false,
			showModalConfirmIdeaDelete:false,
			showModalDrag:false,
			editContent:{type:''},	//selected Content
			editCard:{},			//selected Card
			dialogError:false,		//error in modal dialog
			config:config,		//duplicate
			warnings:'',
			isOwner:false,			//User owns chat
			wsUrl:'',				//Websocket URL
			online:false,			//state - chat online?
			login:false,			//state - successfull login?
			loading:false,			//state - messages loading,
			ws: undefined,					//websocket
			actionContent:false,	//content selected after click on user icon,
			timer:{},
			dragging:{},			//container for dragging variables
			shareUrl:'',
			savingContent:false		//currently saving content - avoid double posts
		}
	},
	mounted: function() {
		//coming from vue-router (as author)?
		if (this.$route.params.ticket) {
			this.ticket=this.$route.params.ticket;
			this.start();
		} else {
			this.$router.push({name: 'ideas-login'});
		}
	},
	destroyed: function() {
		if (this.timer) clearInterval(this.timer);
		if (this.ws && this.ws.close) {
			this.ws.close();
			console.log('Closing WebSocket');
		}
	},
	methods: {
		// Load ticket.
		start: function() {
			if (!this.ticket) return;
			this.$axios.get('ideas/part/socket/'+this.ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.warnings='';
				//start websocket connection
				this.login=true;
				this.wsUrl=response.data.url;
				this.startWS();
				this.timer=setInterval(this.checkWS, 5000);
			}).catch(error => {
                if (error.response) {
					if (error.response.status == 404) {
						this.$router.push({name: 'ideas-login', params: {warnings:[{msg: 'ticket-invalid'}]}});
					} else if (error.response.data[0]) {
                        this.warnings = error.response.data;
                    } else {
                        this.warnings = [{msg:'unknown-error'}];
                    }
                } else {
                    this.warnings = [{msg:'unknown-error'}];
                }
			});
		},
		//Checks if certain permission is given for a particular card
		isAllowedTo: function (right,card) {
			return this.isOwner || (this.ideas[right] && (card==null || ( !card.locked && !card.hidden)));
		},
		//Escaping text (taking into account markdown & mathematical formulas if necessary)
		escapeText: function (text) {
			if (!text) return '';
			return md.renderFull(text);
		},
		closeModals: function() {
			this.showModalAction = false;
			this.showModalEdit = false;
			this.showModalEditCard = false;
			this.showModalConfirmDelete = false;
			this.showModalConfirmIdeaDelete = false;
			this.showModalDrag = false;
		},
		//Start websocket client
		startWS: function(){
			console.log('Opening websockert: '+this.wsUrl)
			this.ws=new WebSocket(this.wsUrl);
			this.ws.onopen=(event)=> {
				this.loadIdeas();	//complete refresh after beeing offline
				this.online=true;
			};
			this.ws.onmessage=(event)=> {
				var message=JSON.parse(event.data);
				//new content on card
				if (message.type=="newContent") {
					var card=this.getCardById(message.cardid);
					var pos=message.content.pos; //pos < 0 wurde zu pos <=0s
					if (!Number.isInteger(pos) || pos<0 || pos>=card.contents.length) card.contents.push(message.content);
					else card.contents.splice(pos, 0, message.content);
				}
				//content on card updated
				if (message.type=="updateContent") {
					var card=this.getCardById(message.cardid); //evtl. hier i=0 durch -1 hat aber nix gebracht
					for (var i=0; i<card.contents.length; i++) {
						if (card.contents[i]._id==message.content._id) card.contents[i]=message.content;
						console.debug(message.content);
					}
					this.$forceUpdate();
				}
				//content deleted from card
				if (message.type=="delContent") {
					var card=this.getCardById(message.cardid);
					for (var i=0; i<card.contents.length; i++) {
						if (card.contents[i]._id==message.contentid) card.contents.splice(i,1);
					}
				}
				//new card
				if (message.type=="addCard" ) {
					this.ideas.cards.push(message.card);
					this.sortCards();
				}
				//card changed
				if (message.type=="updateCard" ) {
					var card=this.getCardById(message.card._id);
					card=Object.assign(card, message.card);
					this.sortCards();
				}
				//card deleted
				if (message.type=="delCard" ) {
					for (var i=0; i<this.ideas.cards.length; i++) {
						if (this.ideas.cards[i]._id==message.cardid) this.ideas.cards.splice(i,1);
					}
				}
				//meta information changed
				if (message.type=="metaChanged") {
					Object.assign(this.ideas, message.meta);
				}
			};
			this.ws.onclose=() => {
				this.online=false;
			};
		},
		//Check websocket
		checkWS: function (){
		    if(!this.ws || this.ws.readyState==3) {
				this.online=false;
				this.startWS();
			}
		},
		//Load complete ideas set
		loadIdeas: function() {
			this.$axios.get( "ideas/part/ideas/"+this.ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.isOwner=store.user.login==response.data.owner
				this.ideas=response.data;
				this.sortCards();
			})
		},
		//Ask for action on click
		contentAction: function (card,content) {
			this.editCard=Object.assign({},card);
			this.editContent=Object.assign({},content);
			if (this.isAllowedTo("editContent",card) || this.isAllowedTo("delContent",card)) this.showModalAction=true;
			else if (content.type=='a' || content.type=='upload') this.openLink(this.getContentUrl(content));
		},
		//get possible targets for moving a content
		getMoveTargets: function(fromCard) {
			if (!this.isAllowedTo("addContent") || !this.isAllowedTo("delContent") || !this.ideas || !this.ideas.cards) return [];
			var moveTargets=[];
			for (var test of this.ideas.cards) {
				if (test._id!=fromCard._id) moveTargets.push(test);
			}
			return moveTargets;
		},
		//Open link in new tab
		openLink: function(url) {
			this.showModalAction='';
			 window.open(url,'_blank')
		},
		//Add new content
		addContent: function(card) {
			this.dialogError=false;
			this.editCard=card;
			this.editContent={type:'text',text:'',url:''};
			this.showModalEdit=true;
		},
		//Save content from edit dialog
		saveContent: async function() {
			//prevent double posts
			if (this.savingContent) return;
			this.savingContent=true;
			//validate
			var content=this.editContent;
			if (this.editContent.text == null || this.editContent.text === undefined) {
				if(this.editContent.url != null || this.editContent.url !== undefined) {
					this.editContent.text = this.editContent.url;
				}
			else {
				this.editContent.text = " ";
				}
			}
			this.dialogError=false;
			//post entry to server
			if (content._id) {
				this.$axios.put('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id+'/'+content._id, content).then(response=> {
					this.savingContent=false;
					if (response.data[0]) this.dialogError=response.data;
					else {this.closeModals();};
				});
			}
			//create new content
			else {
				this.$axios.post('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id, content).then(response=> {
					this.savingContent=false;
					if (response.data[0]) this.dialogError=response.data;
					else {this.closeModals();};
				});
			}
		},
		//Delete content from edit dialog
		delContent:function() {
			this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id+'/'+this.editContent._id).then(response=> {
				if (response.data[0]) this.dialogError=response.data;
				else {this.closeModals();};
			});
		},
		//Add new card
		addCard: function() {
			this.dialogError=false;
 			var bgColor=color.randomColor();
			this.editCard={title:'',contents:[], locked:false, hidden:false, sort:0 , color:bgColor};
			this.showModalEditCard=true;
		},
		//Edit card
		editCardMeta: function(card) {
			this.dialogError=false;
			this.editCard=Object.assign({},card);
			this.showModalEditCard=true;
		},
		//Save content from edit card dialog
		saveCard:function() {
			//update existing card?
			this.dialogError=false;
			if (this.editCard._id) {
				this.$axios.put('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id, this.editCard).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.closeModals();};
				});
			}
			//create new content
			else {
				this.$axios.post('ideas/part/ideas/'+this.ticket+'/', this.editCard).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.closeModals();};
				});
			}
		},
		//Delete content from edit dialog
		delCard:function() {
			this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id).then(response=> {
				if (response.data[0]) this.dialogError=response.data;
				else {this.closeModals();};
			});
		},
		//Append emoji to input string
		insertEmoji: function(char) {
			if (!this.editContent.text) this.editContent.text='';
			if (!this.editCard.title) this.editCard.title='';
			if (this.showModalEdit) this.editContent.text=this.editContent.text+char;
			if (this.showModalEditCard) this.editCard.title=this.editCard.title+char;
		},
		//Helper for ws: get card by drop
		getCardById: function(cardid) {
			var card=this.ideas.cards.find(x=> x._id===cardid);
			if (card) return card;
			//Create new card
			card={title:'',_id:cardid, contents:[]}
			this.ideas.cards.push(card);
			return card;
		},
		//Help: sort cards
		sortCards: function() {
			this.ideas.cards.sort((a,b)=> {
				if (a.sort>b.sort) return 1;
				else if (a.sort<b.sort) return -1;
				else return a._id>b._id
			})
		},
		//Drag start
		dragStart: function(card, content) {
			this.dragging={card:card, content:content};

		},
		//Drop
		drop: function(card,pos) {
			this.moveContent(this.dragging.card,this.dragging.content,card,pos);

		},
		//Move content per drag & drop
		moveContent: async function (cardFrom,contentFrom,cardTo,pos) {
			this.warnings='';
			if (!cardFrom || !contentFrom || !cardTo ) return;
			if (!this.isAllowedTo('delContent',cardFrom) || !this.isAllowedTo('addContent',cardTo)) return;
			//add Content to destination card
			var newContent=Object.assign({},contentFrom);
			newContent.pos=pos;
			newContent._id='';
			//add Content to dst card
			this.$axios.post('ideas/part/ideas/'+this.ticket+'/'+cardTo._id,newContent).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				//delete Content from source card
				this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+cardFrom._id+'/'+contentFrom._id).then(response=> {
					if (response.data[0]) return this.warnings=response.data;
				});
			});
		},
		//Upload image
		uploadFile: function(file) {
			var reader=new FileReader();
			reader.readAsDataURL(file);
			reader.onload=e=> {
				var url=e.target.result;
				this.editContent.url=url;
			};
		},
		//Start slideshow presentation
		startslideshow: function(card) {
			this.$router.push({ name: 'ideas-slideshow', params:{ticket: this.ticket, cardId: card._id, card: card}});
		},
		//Return content url - taking account local uploads
		getContentUrl: function(content) {
			if (!content || !content.url) return '';
			if (content.type=='a' || content.url.startsWith('data:') || content.url.indexOf('://')>0 ) return content.url;
			return this.$config.urlBackend+'upload/ideas/'+content.url;
		},
		//Share
		share: function() {
			var ticket=this.ideas.ticket;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/'+ticket;
		},
		// check if text is valid http(s) url, see also controller.js
		isValidHttpUrl: function(text) {
			try {
				const url = new URL(text)
				return url.protocol === 'http:' || url.protocol === 'https:'
			}
			catch(e) { return false }
		}
	}
}
</script>

<style>
	span.a {text-decoration: underline}
	img.typeIcon { height:1.1em; margin-top: 3px; margin-right: 6px; float: left; }
	.card-shadow { filter: drop-shadow(4px 4px 4px #808080); }
	.card-body p { margin-bottom: 3px; }
	.card-body ul, .card-body ol { margin-bottom: 3px; }
	.card-body a { color: var(--fg-text); text-decoration: underline; }
	@media print {
		.card-shadow { filter: none; border: solid 1px #808080; }
	}
</style>

<style src='../../../node_modules/katex/dist/katex.min.css'/>
<style src="Main/css/signin.css"/>


<i18n src="../locales/Part.json"/>