<template>
	<div>
		<div v-show="slide==-1" class="slide" v-on:click="nextSlide()">
			<div class="slideCenterContent">
				<p class="slide" v-html="escapeText(card.title)" />
				<br>
				<p class="title">{{$t('slideshow-info',{num:card.contents.length})}}</p>
				<br>
				<p class="title">{{$t('slideshow-start')}}</p>
				<br>
				<button class="btn btn-secondary" v-on:click="goToIdea()">{{$t('close')}}</button>
			</div>
		</div>
		<div v-for="(content, n) in card.contents" :key="n">
			<div class="slide" v-show="n==slide" v-on:click="nextSlide()">
				<div class="slideCenterContent" v-if="content.type=='text'">
					<p class="slide" style="font-size:64px;text-align:center;font-weight:bold" v-html="escapeText(content.text)"></p>
				</div>
				<div class="slideImageContent" v-else-if="content.url.match($consts.REGEX_IMAGE)">
					<img class="slide" :src="getContentUrl(content)">
				</div>
				<div class="slideCenterContent" v-else-if="content.url.match($consts.REGEX_AUDIO)">
					<p class="slide">{{content.text}}</p>
					<br>
					<audio :id="'media'+n" controls style="width:50%">
						<source :src="getContentUrl(content)" />
					</audio>
				</div>
				<div class="slideImageContent" v-else-if="content.url.match($consts.REGEX_VIDEO)">
					<video class="slide" id="'media'+n">
						<source :src="getContentUrl(content)" />
					</video>
				</div>
				<div class="slideCenterContent" v-else>
					<a class="slide" :href="getContentUrl(content)"><span v-html="escapeText(content.text)" /></a>
				</div>
			</div>
		</div>
		<div class="progress slideProgress">
			<div class="progress-bar bg-dark" role="progressbar" :style="'width: '+Math.round(progress*1000)/10+'%'"/>
		</div>
	</div>
</template>

<script>
	const TIME_SLIDE=20;
	const TIME_ANIMATE=0.5;
	import md from "Main/js/markdown.js";

	export default {
		data: function() {
			return {
				slide:-1,
				card:{contents:[]},
				timer:{},
				slideTime:0,
				progress:0,
				ticket: undefined,
				cardId: undefined
			}
		},
		mounted: function() {
			if (this.$route.params.cardId) this.cardId = this.$route.params.cardId;
			if (this.$route.params.ticket) this.ticket = this.$route.params.ticket;

			if (this.$route.params.card) {
				this.setCard(this.$route.params.card);
			} else if (this.$route.params.cardId && this.$route.params.ticket) { 
				var router = this.$router;
				var ticket = this.ticket;
				this.$axios.get('ideas/part/ideas/'+this.ticket+'/'+this.cardId).then(response => {
					if (response.data[0]) return this.$router.push({name: 'ideas-part', params:{ticket: this.ticket}});
					this.setCard(response.data);
				}).catch(function (error) {
					console.error("Could not fetch ideas card: ", error);
					router.push({name: 'ideas-part', params:{ticket:ticket}});
				});
			} else {
				// Wrong URL called...
				this.$router.push({name: 'ideas-index'});
			}
		},
		methods: {
			setCard: function(card) {
				this.card = card;
				this.numSlides = this.card.contents.length;
				setInterval(this.tick, 1000);
			},
			goToIdea: function() {
				this.$router.push({name: 'ideas-part', params:{ticket:this.ticket}});
			},
			escapeText: function (text) {
				if (!text) return '';
				return md.renderFull(text);
			},
			//time step
			tick: function() {
				if (this.slide<0) return;
				this.slideTime=this.slideTime+1;
				if (this.slideTime>=TIME_SLIDE) {
					this.nextSlide();
				}
				else {
					this.progress=(this.slideTime+(this.slide)*TIME_SLIDE)/(this.numSlides*TIME_SLIDE);
				}
			},
			//Show next slide
			nextSlide: function () {
				//TODO transition
				//Stop active media
				var media=document.getElementById('#media'+this.slide);
				if (media) {
					media.pause();
					media.currentTime=0
				}
				//increment counter
				this.slide=this.slide+1;
				this.slideTime=0;
				if (this.slide<this.numSlides) {
					//Start next media (if neccessary)
					var media=document.getElementById('#media'+this.slide)
					if (media) media.play();
					this.progress=(this.slide)/this.numSlides;
				}
				//finished, show start page
				else {
					this.slide=-1;
					this.progress=0;
				}
			},
			//Return content url - taking account local uploads
			getContentUrl: function(content) {
				if (!content || !content.url) return '';
				if (content.type=='a' || content.url.startsWith('data:') || content.url.indexOf('://')>0 ) return content.url;
				return this.$config.urlBackend+'upload/ideas/'+content.url;
			}
		}
	}

</script>

<style src='../../../node_modules/katex/dist/katex.min.css'/>

<style>
	div.slide h1 { font-size: 100px; }
	div.slide h2 { font-size: 80px; }
	div.slide .title { font-size: 30px; font-weight: 500; line-height: 120%; }
	div.slide {width:100%; height:100%; position: absolute; top:0; left:0; vertical-align:middle; z-index: 2000; background-color: #FFFFFF}
	div.slideCenterContent {position:absolute; padding: 32px; width:100%; top: 50%; transform: translate(-0, -50%);text-align: center;}
	div.slideImageContent {position:absolute; width:100%;height:100%;background-color:black;}
	p.slide,a.slide {font-size: 64px; font-weight: bold; text-align:center; }
	img.slide {width:100%; height:100%; object-fit: contain;}
	video.slide {width:100%; height:100%; object-fit: contain;}
	div.slideProgress {position:absolute;bottom:0;left:0;width:100%;z-index: 2001}

	[data-theme="dark"] div.slide {  background-color: #1F2326 !important;}
	[data-theme="dark"] div.slideProgress {  background-color: #000000 !important;}

</style>

<i18n src="../locales/Slideshow.json"/>

